{
	{$CADDY_GLOBAL_OPTIONS}

    servers {
        metrics
        timeouts {
            read_body 10s
            read_header 5s
            write 30s
            idle 10m
        }
        trusted_proxies static private_ranges
    }
    log {
        format json
        level INFO
    }
}

{$CADDY_EXTRA_CONFIG}

{$SERVER_NAME:localhost} {
	# Enable logging
	log {
		output stdout
		level INFO
        # Redact the authorization query parameter that can be set by Mercure
		format filter {
			fields {
				request>uri query {
					replace authorization REDACTED
				}
			}
			wrap json
		}
	}

	root * {$DOCUMENT_ROOT:/var/www/html/}
	
	log_skip /robots.txt
	log_skip /healthz
	log_skip /ping
	log_skip /status
	log_skip /favicon.ico

	respond /healthz "healthy" 200

	root * {$DOCUMENT_ROOT:/var/www/html/}
	
	encode zstd gzip

	{$CADDY_SERVER_EXTRA_DIRECTIVES}

	# Point all PHP requests to an upstream socket, served by php-fpm
	php_fastcgi 127.0.0.1:9000

	# Serve static files
	file_server
}