:80 {
	root * {$DOCUMENT_ROOT:/var/www/html/}
	
	trusted_proxies private_ranges

	# Point all PHP requests to an upstream socket, served by php-fpm
	php_fastcgi localhost:9000

	# Enable logging
	log {
		output stderr
		format console
		level ERROR
	}

	log {
		output discard
		level INFO
		format filter {
			# Defaults to json while waiting for https://github.com/caddyserver/caddy/pull/5980
			wrap json
			fields {
				uri query {
					replace authorization REDACTED
				}
			}
		}
	}

	# Serve static files
	file_server

	# Enable gzip compression (and zstd)
	encode zstd gzip

	skip_log /robots.txt
	skip_log /healthz
	skip_log /favicon.ico

	respond /healthz 200
}

:2021 {
	tls internal
	metrics
}