:80 {
	root * {$DOCUMENT_ROOT:/var/www/html/}
	
	trusted_proxies private_ranges

	# Point all PHP requests to an upstream socket, served by php-fpm
	php_fastcgi localhost:9000

	# Enable logging
	log {
		output stderr
		format console
		level ERROR
	}

	log {
		output discard
		level INFO
	}

	# Serve static files
	file_server

	# Enable gzip compression (and zstd)
	encode zstd gzip
}

:2021 {
	tls internal
	metrics
}