name: Build manually

on:
  workflow_dispatch:
    inputs:
      image_suffix:
        description: 'Image version to generate'
        required: true
        default: '-dev'
        type: choice
        options:
          - "-dev"
          - "-{{latest_release_tag}}"
          - "-latest"
      image:
        description: 'Image type to build'
        default: "php"
        required: false
        type: choice
        options:
          - "php"
          - "redis"
      registry:
        description: 'Registry to deploy to'
        default: "adeliom"
        required: true
        type: choice
        options:
          - "ghcr.io/agence-adeliom"
          - "adeliom"
      push_image:
        description: 'Push images to registry'
        required: true
        type: boolean
        default: false

jobs:

  # For dockerhub: build images via build_php workflow
  dockerhub-build-php-images:
    if: ${{ inputs.image == 'php' }}
    uses: ./.github/workflows/build_php.yml
    secrets: inherit
    with:
      image: ${{ inputs.image }}
      registry: ${{ inputs.registry }}
      image_suffix: ${{ inputs.image_suffix }}
      push_image: ${{ inputs.push_image || (inputs.image_suffix == '-dev') }}

  # For github package: build images via build_php workflow
  ghcr-build-php-images:
    if: ${{ inputs.image == 'php' }}
    uses: ./.github/workflows/build_php.yml
    secrets: inherit
    with:
      image: ${{ inputs.image }}
      registry: ${{ inputs.registry }}
      image_suffix: ${{ inputs.image_suffix }}
      push_image: ${{ inputs.push_image || (inputs.image_suffix == '-dev') }}

  # For dockerhub: build images via build_redis workflow
  dockerhub-build-redis-images:
    if: ${{ inputs.image == 'redis' }}
    uses: ./.github/workflows/build_redis.yml
    secrets: inherit
    with:
      image: ${{ inputs.image }}
      registry: ${{ inputs.registry }}
      image_suffix: ${{ inputs.image_suffix }}
      push_image: ${{ inputs.push_image || (inputs.image_suffix == '-dev') }}


  # For dockerhub: upgrade redis readme doc
  dockerhub-redis-doc:
    if: ${{ github.event.release.prerelease == false }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Update repo description
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: adeliom/redis
          readme-filepath: ./redis/README.md
